<section class= "slider" #sliderRef>

  <button class="pre-btn"><fa-icon class="icon" [icon]="leftArrowIcon"></fa-icon></button>
  
  <div class="slider-container">

    <div class="slider-card">
      <div class="card-image">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" class="card-thumb" alt="">
      </div>
      <div class="card-info">
        <h2 class="card-title">Spider man no way home</h2>
        <p class="card-description">a short line about the cloth..</p>
      </div>
    </div>

    <div class="slider-card">
      <div class="card-image">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" class="card-thumb" alt="">
      </div>
      <div class="card-info">
        <h2 class="card-title">brand</h2>
        <p class="card-description">a short line about the cloth..</p>
      </div>
    </div>

    <div class="slider-card">
      <div class="card-image">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" class="card-thumb" alt="">
      </div>
      <div class="card-info">
        <h2 class="card-title">brand</h2>
        <p class="card-description">a short line about the cloth..</p>
      </div>
    </div>

    <div class="slider-card">
      <div class="card-image">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" class="card-thumb" alt="">
      </div>
      <div class="card-info">
        <h2 class="card-title">brand</h2>
        <p class="card-description">a short line about the cloth..</p>
      </div>
    </div>

    <div class="slider-card">
      <div class="card-image">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" class="card-thumb" alt="">
      </div>
      <div class="card-info">
        <h2 class="card-title">brand</h2>
        <p class="card-description">a short line about the cloth..</p>
      </div>
    </div>

    <div class="slider-card">
      <div class="card-image">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" class="card-thumb" alt="">
      </div>
      <div class="card-info">
        <h2 class="card-title">brand</h2>
        <p class="card-description">a short line about the cloth..</p>
      </div>
    </div>

    <div class="slider-card">
      <div class="card-image">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" class="card-thumb" alt="">
      </div>
      <div class="card-info">
        <h2 class="card-title">brand</h2>
        <p class="card-description">a short line about the cloth..</p>
      </div>
    </div>

    <div class="slider-card">
      <div class="card-image">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" class="card-thumb" alt="">
      </div>
      <div class="card-info">
        <h2 class="card-title">brand</h2>
        <p class="card-description">a short line about the cloth..</p>
      </div>
    </div>

    <div class="slider-card">
      <div class="card-image">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" class="card-thumb" alt="">
      </div>
      <div class="card-info">
        <h2 class="card-title">brand</h2>
        <p class="card-description">a short line about the cloth..</p>
      </div>
    </div>

    <div class="slider-card">
      <div class="card-image">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" class="card-thumb" alt="">
      </div>
      <div class="card-info">
        <h2 class="card-title">brand</h2>
        <p class="card-description">a short line about the cloth..</p>
      </div>
    </div>

    <div class="slider-card">
      <div class="card-image">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" class="card-thumb" alt="">
      </div>
      <div class="card-info">
        <h2 class="card-title">brand</h2>
        <p class="card-description">a short line about the cloth..</p>
      </div>
    </div>

    <div class="slider-card">
      <div class="card-image">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" class="card-thumb" alt="">
      </div>
      <div class="card-info">
        <h2 class="card-title">brand</h2>
        <p class="card-description">a short line about the cloth..</p>
      </div>
    </div>
      

     

    </div>

    <button class="nxt-btn"><fa-icon class="icon" [icon]="rightArrowIcon"></fa-icon></button>
</section>