<div class="auth-page">

  
  <div class="login-form">
    <h2 class="title" [ngClass]="{'text-center': !isLoginMode}"> {{ isLoginMode ? 'Login to your account' : 'Contact US' }}  </h2>

    <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" *ngIf="!isLoading && isLoginMode"> 
      
      <div class="input-container">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" ngModel required>
      </div>
      
      <div class="input-container">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel required>
      </div>
      
      <div class="submit-btn">
        <button type="submit" [disabled]="authForm.invalid">Login</button>
      </div>
    </form>
  
    <div class="loading-block text-center" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <div class="Contact-us" *ngIf="!isLoading && !isLoginMode">

      <div class="contact-item twitter-icon" *ngIf="twitterLink">
        <fa-icon [icon]="twitterIcon" class="contact-icon twitter-icon"></fa-icon>
        <a [href]="twitterLink" target="_blank" class="contact-link">Twitter</a>
      </div>
      
      <div class="contact-item" *ngIf="whatsAppLink">
        <fa-icon [icon]="whatsIcon" class="contact-icon whats-icon"></fa-icon>
        <a [href]="whatsAppLink" target="_blank" class="contact-link">What'sapp</a>
      </div>
      
      <div class="contact-item" *ngIf="telegramLink">
        <fa-icon [icon]="teleIcon" class="contact-icon telegram-icon"></fa-icon>
        <a [href]="telegramLink" target="_blank" class="contact-link">telegarm</a>
      </div>
      
      <div class="contact-item" *ngIf="facebookLink">
        <fa-icon [icon]="facebookIcon" class="contact-icon face-icon"></fa-icon>
        <a [href]="facebookLink" target="_blank" class="contact-link">facebook</a>
      </div>
      
      <div class="contact-item" *ngIf="websiteLink">
        <fa-icon [icon]="chromeIcon" class="contact-icon site-icon"></fa-icon>
        <a [href]="websiteLink" target="_blank" class="contact-link">Aroma Tv</a>
      </div>

      <div class="contact-item" *ngIf="othersLink">
        <fa-icon [icon]="othersIcon" class="contact-icon others-icon"></fa-icon>
        <a [href]="othersLink" target="_blank" class="contact-link">others</a>
      </div>

    </div>
  </div>




</div>


<div class="error-block" *ngIf="userNotAuthenticated">
  <app-error message="We couldn't validate your information. Want to try again?"  (close)="onHandleError()"></app-error>
</div>


