<div class="category-name">

   <h2>{{ categoryName | dashedCatName }}</h2>
</div>


  <div *ngIf="isLoading" class="loading-spinner">
    <app-loading-spinner></app-loading-spinner>
  </div>
  
   
 
 <div class="no-items-component" *ngIf="noItemsAvalible">
  <app-no-items-available></app-no-items-available>
 </div>


  <div class="movies-container" *ngIf="!isLoading">
    
    <div class="movie-item" *ngFor="let movie of moviesOfCategory" [id]="movie.stream_id" [routerLink]="['/movie',movie.name | toUrlParams, movie.stream_id]">

      <div class="movie-poster">
        <img [src]="movie.stream_icon ? movie.stream_icon : '../../../assets/imgs/no-image.jpg' " class="card-thumb" [alt]="movie.name">
      </div>

      <h4 class="movie-name">{{ movie.name | cutLongString }}</h4>

    </div>

  </div>
    
